body{
    padding: 0px;
    margin: 0px;
    background-color:#f5f5f5;
}
.index-head{
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
}
.index-head ul li:last-child{
    background: #02b2b5;
    color: #ffffff;
}
.index-head ul li{
    color: rgb(0, 135,129);
    cursor: pointer;
    font-size: 130%;
    padding: 1% 2% 1% 2%;
}
.index-head ul li:hover{
    background: #02b2b5;
    color: #ffffff;
}

/* footer部分*/
.footer .footer-p{
    height: 8.6rem;
    background-color: #252c36;
    color: rgb(169, 169, 169);
    text-align: center;
    line-height: 8.6rem;
}
